In [1]:
a= 10

In [2]:
a

10

In [3]:
a='c'

In [4]:
type(a)

str

In [5]:
int

int

In [6]:
int('1234')

1234

In [8]:
print()

In [9]:
print(a)

c

In [10]:
print("Hellow World")

Hellow World

In [11]:
age = 32
print("My age is:",age)

My age is: 32

In [12]:
print ("my age is :{age}")

my age is :{age}

In [14]:
## f string
print (f"My age is :{age}")

My age is :32

In [15]:
##format()
name = "Dhanraj "
age  = 25
print("my name is {} and age is  {}".format(name,age))

my name is Dhanraj  and age is  25

In [19]:
name =" Dhanraj singh"
age = 25
degree = "Btech"
##"my age is 25c and i have completed my degree of Btech with the name of Dhanraj singh"
print ("my age is {} and i have completed : my degree of {} with the name of {} ".format(age ,degree,name))

my age is 25 and i have completed : my degree of Btech with the name of  Dhanraj singh

## control flow 
### Decision making statements

In [23]:
## IF statements 

age = 18
if age >= 18:
    print ("you are eligible to vote")

you are eligible to vote

In [25]:
## IF statements 

age = 17
if age <18:
    print ("you are not  eligible to vote")

you are not  eligible to vote

In [26]:
input()

 23

'23'

In [29]:
age =int(input("Enter your age  :"))
 ## IF statements 

if age >= 18:
    print ("you are eligible to vote")

Enter your age  : 23

you are eligible to vote

In [32]:
###Task 
##Take anput of age 
## check whether age >= 18  and age <= 45
##Display you  are a young blood

age = int(input( "Enter your age :"))
if age >= 18 and  age <= 45 :
    print("you are a young  blood")

Enter your age : 17

In [33]:
## if else statement
age = int(input( "Enter your age :"))
if age >= 18 and  age <= 45 :
    print("you are a young  blood")
else :
    print("Thankyou nwe will let you know ")

Enter your age : 17

Thankyou nwe will let you know

In [39]:
price = int (input("Enter the price  of product"))
if price >1000:
    print ("Price of proiduct is {}".format(price - price*0.2))
else :
     print ("Price of proiduct is {}".format(price - price*0.3))

Enter the price  of product 599

Price of proiduct is 419.3

In [48]:
price = int (input("Enter the price  of product"))
if price >3000:
    if price ==4000:
        print ("you will get a trip of Goa")
    print ("Price of proiduct is {}".format(price - price*0.2))
elif price >2000 and price<=3000:
    if price ==2999:
        print ("Congratulation you get an additional gift coupan of 500")
    print ("Price of proiduct is {}".format(price - price*0.3))

elif price>1000 and price <= 2000:
     print ("Price of proiduct is {}".format(price - price*0.4))
else:
     print ("Price of proiduct is {}".format(price))
print("Dhanraj ")

Enter the price  of product 900

Price of proiduct is 900
Dhanraj

In [49]:
#single statement

### Loops Statements 
1.While loop
2.for loop
3.nested loops
4.Loop control(break,continue,pass)

In [52]:
#while loop
joining_age = 25 
i= 1
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+i
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [54]:
### atm machine with 1000 rs
amount=1000
while amount !=0:
    print(amount)
    amount=amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

### FOR Loop

In [57]:
lst = [ "Krish",1,2,3,4,"apple","banana"]

In [58]:
print(lst)

['Krish', 1, 2, 3, 4, 'apple', 'banana']

In [59]:
type(lst)

list

In [61]:
lst[1]

1

In [62]:
for x in lst:
    print(x)

Krish
1
2
3
4
apple
banana

In [63]:
fruits_list =["Mango","Cherry","Apple","papaya","Banana"]

In [64]:
for a in fruits_list:
    print(a)
    if a == "Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
papaya
Banana

In [67]:
fruit = 'mango'
for x in fruit:
    print(x,end ='')

mango

In [66]:
fruit[0]

'm'

In [68]:
##Nested loops
n= 7

In [69]:
range(7)

range(0, 7)

In [70]:
range (0,2,8)

range(0, 2, 8)

In [73]:
for i in range (1,100,9):
    print (i)

1
10
19
28
37
46
55
64
73
82
91

In [82]:
### Nested looops
n = 7 
for i in range (0,n):
    for j in range (0,i+1):
        for k in range(0,i-j):
            print("*",end = "")
          
    print(" ")

*
***
******
**********
***************
*********************

In [83]:
fruits_list

['Mango', 'Cherry', 'Apple', 'papaya', 'Banana']

In [84]:
## loop conntrols:
## Break and continue
for i in fruits_list:
    if i =="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [85]:
for i in fruits_list:
    if i =="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
papaya
Banana

In [86]:
for i in fruits_list:
    if i =="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
papaya
Banana